<div class="block contacts" id="contacts">
    <div class="center">
        <div class="block__title  wow bounceInDown">
            <span>Get in touch</span>
            contact us
        </div>
        <div class="contacts__block">
            <div class="left_side  wow bounceInRight">
                <ul>
                    <li><a id="ext1"></a>
                    </li>
                                    </ul>
                <div class="soc">
                    <div class="title">
                        Social Networks
                    </div>
                    <div class="links">
                        <a href="https://twitter.com/NexssP">
    <i class="fa fa-twitter"></i>
</a>
<a href="https://www.facebook.com/nexsscom/">
    <i class="fa fa-facebook"></i>
</a>
                    </div>
                </div>
            </div>
            <div class="right_side  wow bounceInLeft">
                <form method="post" class="form wow fadeInUp">
                    <div class="row">
                        <input name="name" type="text" class="input" placeholder="Name*" required="">
                    </div>
                    <div class="row">
                        <input name="email" type="text" class="input" placeholder="Email*" required="">
                    </div>
                    <div class="row">
                        <textarea name="message" placeholder="Message" class="textarea" rows="5" required=""></textarea>
                    </div>
                    <div class="row">
                        <div class="btn__wrap__left">
                            <input type="submit" class="btn btn__orange btn__large" value="Send">
                        </div>
                    </div>
                    <input type="hidden" name="action" value="SendContactForm" size="255">

                    <input type="hidden" name="nexssCrsfTokenindex_html" value="3a416e3c546d2810e334ac53ef3110868a4f6d48c661f9af5859b6adcfd9d4a5">

                </form>
            </div>
        </div>
    </div>
</div>