<footer class="footer">
       <div class="footer__top">
  <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <ul class="footer__menu tl mb-space">
        <li>
          <a href="pl/polityka-prywatnosci.html">Polityka Prywatności</a>
        </li>
        <li>
          <a href="pl/regulamin.html">Regulamin</a>
        </li>
        <li>
          <a href="pl/nexss-blog.html">Blog</a>
        </li>
      </ul>
    </div>
    <ul>
      <li>
        <a id="ext2" href=""><i class="fa fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</div>
 <div class="footer__bottom">
  <div class="center">
    Copyright © 2008 - 2021 Nexss.com, Made with <span style="font-size:larger;color:#ff0003">♥</span> in <img height="10" src="assets/images/flagPL.jpg">
  </div>
  <div id="infoCookie" style="z-index:369369369;position:fixed;bottom:0;height:55px;background-color:black;width:100%;visibility:hidden;">
    <b>Nexss.com</b> używa ciasteczka do rejestrowania danych statystycznych.<br>
    Więcej tutaj: <a style="color:yellow;" target="_blank" href="pl/polityka-prywatnosci.html">Polityka Prywatności</a>.<a id="acceptCookie" style="color: white; font-size: 20px; line-height: 30px; text-decoration: none;" href="javascript:void(0)">×</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script type="text/javascript">
    if (Cookies.get('nxsCookieAccept') != 'true') {
        $('#infoCookie').css('visibility', 'visible');
    }
    $('#acceptCookie').click(function (e) {
        Cookies.set('nxsCookieAccept', 'true');
        $('#infoCookie').css('visibility', 'hidden');
    })
</script>
</div>
<script>
  $('#ext1, #ext2, #ext3').attr('href', 'm' + 'ai' + 'lto' + ':map' + 'oart' + String.fromCharCode(64) + 'g' + 'mai' + 'l.c' + 'om');
  $('#ext1, #ext2, #ext3').html('<i class="fa fa-envelope"></i> mapo' + 'art' + String.fromCharCode(64) + 'gma' + 'il' + '.' + 'com');
</script>
    </footer>