<header class="header" id="home">
      <div class="header__top">
    <div class="center">
        <ul class="info">
            <li>
                <a id="ext3"></a>
            </li>
                        <!-- <li class="hideSmall">
                <i class="fa fa-map-marker"></i>
                86-005, Prądki, Poland
            </li> -->

        </ul>
        
{%- include en/faq.html/changeLanguage.html -%}
        <div class="soc clearfix">
            <a href="https://twitter.com/NexssP">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/nexsscom/">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
    </div>
    
        <div class="center pr">
    <a href="#" class="logo">
        <img width="150" src="assets/default/images/header_logo.png" alt="">
    </a>
    <div class="nav clearfix">
        <ul>
            <li>
                <a href="en/faq.html">FAQ</a>
            </li>
            <li>
                <a href="en/index.html#services">services</a>
            </li>
            <li>
                <a href="en/nexss-blog.html">blog</a>
            </li>
            <li>
                <a href="en/nexss-portfolio.html">portfolio</a>
            </li>
            <li>
                <a href="en/index.html#contacts">contact</a>
            </li>
        </ul>
        <div class="btn__wrap__center">
            <a href="en/easy-install-nexss-programmer.html" class="btn btn__medium btn__green">NEXSS
                PROGRAMMER</a>
        </div>
    </div>
    <div class="menu_toggle">
        <i></i>
    </div>
    <div class="phone_nav">
        <ul>
            <li>
                <a href="en/faq.html">FAQ</a>
            </li>
            <li>
                <a href="en/index.html#services">services</a>
            </li>
            <li>
                <a href="en/nexss-blog.html">blog</a>
            </li>
            <li>
                <a href="en/nexss-portfolio.html">porfolio</a>
            </li>
            <li>
                <a href="en/index.html#contacts">contact</a>
            </li>
        </ul>
    </div>
</div>
    </div>
      <div class="header__bottom">
    </div>
    </header>