<header class="header" id="home">
      <div class="header__top">
    <div class="center">
        <ul class="info">
            <li>
                <a id="ext3"></a>
            </li>
                        <!-- <li class="hideSmall">
                <i class="fa fa-map-marker"></i>
                86-005, Prądki, Poland
            </li> -->

        </ul>
        
{%- include /index.html/changeLanguage.html -%}
        <div class="soc clearfix">
            <a href="https://twitter.com/NexssP">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/nexsscom/">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
    </div>
    
    </div>
      <div class="header__bottom">
        <div class="center pr">
    <a href="#" class="logo">
        <img src="assets/default/images/header_logo.png" alt="">
    </a>
    <div class="nav clearfix">
        <ul>
            <li>
                <a href="faq.html">FAQ</a>
            </li>
            <li>
                <a href="index.html#services">services</a>
            </li>
            <li>
                <a href="nexss-blog.html">blog</a>
            </li>
            <li>
                <a href="nexss-portfolio.html">portfolio</a>
            </li>
            <li>
                <a href="index.html#contacts">contact</a>
            </li>
        </ul>
        <div class="btn__wrap__center">
            <a href="easy-install-nexss-programmer.html" class="btn btn__medium btn__green">NEXSS
                PROGRAMMER</a>
        </div>
    </div>
    <div class="menu_toggle">
        <i></i>
    </div>
    <div class="phone_nav">
        <ul>
            <li>
                <a href="faq.html">FAQ</a>
            </li>
            <li>
                <a href="index.html#services">services</a>
            </li>
            <li>
                <a href="nexss-blog.html">blog</a>
            </li>
            <li>
                <a href="nexss-portfolio.html">porfolio</a>
            </li>
            <li>
                <a href="index.html#contacts">contact</a>
            </li>
        </ul>
    </div>
</div>
    <div class="welcome">
        <div class="center">
            <div class="welcome__wrap  wow slideInLeft">
                <div class="text_1">
                    Open Source
                </div>
                <div class="text_2">
                    Nexss Programmer 2.2.0
                </div>
                <div class="text_3">
                    The innovative and evolutionary tool for the programmers. <br>
                    51 great technologies together and soon will be more. <br>
                    Compile program from any programming language in seconds.<br>
                    Save Your time every day.<br>
                    <a title="Nexss Programmer - Video Presentation" target="_blank" style="color:yellow;" href="https://www.youtube.com/watch?v=7WbnYyEnBNk">Video Presentation</a>
                </div>
                <!-- <div class="btn__wrap__left">
                    <a target="_blank" href="easy-install-nexss-programmer.html"
                        class="btn btn__large btn__orange">Free Open Source Version</a>
                    <a href="nexss-programmer-prepaid.html" class="btn btn__large btn__green">PRO 3.0
                        Pre-Order</a>
                </div> -->
                <div class="btn__wrap__left">
                    <a target="_blank" href="easy-install-nexss-programmer.html" class="btn btn__large btn__orange">Free Open Source Version</a>
                    <a target="_blank" href="nexss-programmer-features.html" class="btn btn__large btn__green">CLI Tool - Features</a>
                </div>

            </div>
        </div>
    </div>
    </div>
    </header>