<head>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-97241406-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-97241406-1');
</script>

  {% if page.description %}<title>{{ page.title }}</title>{% endif %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="robots" content="index,follow">
  <meta name="distribution" content="Global">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta property="og:title" content="Nexss.com">
  <meta property="og:description" content="">
  <meta property="og:image" content="https://www.nexss.com/assets/default/images/header_logo.png">
  <meta property="og:url" content="https://www.nexss.com">
  <base href="/">
<!-- css -->
<link rel="stylesheet" href="assets/default/css/animate.css">
<link href="assets/default/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="assets/default/css/owl.carousel.css">
<link rel="stylesheet" href="assets/default/css/main.css">
<!-- js -->
<script src="assets/default/js/jquery.min.js"></script>
<script src="assets/default/js/myscript.js"></script>
<script src="assets/default/js/owl.carousel.min.js"></script>
<script src="assets/default/js/wow.min.js"></script>   <meta name="google-site-verification" content="">
    <meta name="revisit-after" content="7 days">
  <meta name="creator" content="Nexss.com">
</head>