<div class="block services" id="services">
    <div class="center">
        <div class="block__title wow flipInX">
            <span>Software Development</span>
            Our Most Popular Services
        </div>
        <div class="item__list">
                        <div class="item wow flipInY" data-wow-delay="0.1s">
                <figure>
                    <img src="assets/default/images/services_icon_5.png" alt="">
                </figure>
                <div class="title">
                    Open Source
                </div>
                <p>
                    We are developing Open source version of our product Nexss Programmer
                </p>
            </div>
                        <div class="item wow flipInY" data-wow-delay="0.2s">
                <figure>
                    <img src="assets/default/images/services_icon_2.png" alt="">
                </figure>
                <div class="title">
                    New Software Development
                </div>
                <p>
                    Do you have an idea? Don't hesitate and contact us. Let's build it together!
                </p>
            </div>
                        <div class="item wow flipInY" data-wow-delay="0.3s">
                <figure>
                    <img src="assets/default/images/services_icon_3.png" alt="">
                </figure>
                <div class="title">
                    Innovations
                </div>
                <p>
                    We work together with our Clients to come up with the innovative solutions.
                </p>
            </div>
                        <div class="item wow flipInY" data-wow-delay="0.4s">
                <figure>
                    <img src="assets/default/images/services_icon_4.png" alt="">
                </figure>
                <div class="title">
                    Applications Modernization
                </div>
                <p>
                    Build totally new dimension of Your products and get to the next level.
                </p>
            </div>
                        <div class="item wow flipInY" data-wow-delay="0.5s">
                <figure>
                    <img src="assets/default/images/services_icon_1.png" alt="">
                </figure>
                <div class="title">
                    Latest technologies deployments and enhancements
                </div>
                <p>
                    We use the latest, proven technologies for our products and services.
                </p>
            </div>
                        <div class="item wow flipInY" data-wow-delay="0.6s">
                <figure>
                    <img src="assets/default/images/services_icon_6.png" alt="">
                </figure>
                <div class="title">
                    Care of our applications
                </div>
                <p>
                    Our applications run on the fastest servers in the country.
                </p>
            </div>
                    </div>
    </div>
</div>